<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bg-primary text-white p-4">
      <p class="text-center">Flexipay</p>
      <div class="lead text-center">XXXX XXXX XXXX 3050</div>
    </div>
    <div class="container p-4">
      <div class="col">
        <span class="round1">&#x2713;</span>
        <span class="round mx-3">2</span>
        <span class="text-primary">
         Select Offer
        </span>
      </div>
      <div class="col-md bg-primary c1 my-2"></div>
      <h3>Select Your Offer</h3>
      <span>Total Amount Selected &#8377;48454</span>
      <div class="col-md-12">
        <table class="table mt-3">
          <tr>
            <td class="something"></td>
            <td>Tenure (Months)</td>
            <td>Processing Fee(&#8377;)</td>
            <td>Interest Rate(%p.a)</td>
          </tr>
          <tr class="tr active">
            <td><input type="radio" class="form-check-input"></td>
            <td>12</td>
            <td>324.54</td>
            <td>16.25</td>
          </tr><tr class="tr">
            <td><input type="radio" class="form-check-input"></td>
            <td>24</td>
            <td>324.54</td>
            <td>16.75</td>
          </tr><tr class="tr">
            <td><input type="radio" class="form-check-input"></td>
            <td>18</td>
            <td>324.54</td>
            <td>16.25</td>
          </tr>
          <tr class="tr">
            <td><input type="radio" class="form-check-input"></td>
            <td>9</td>
            <td>324.54</td>
            <td>16.0</td>
          </tr>
          <tr class="tr">
            <td><input type="radio" class="form-check-input"></td>
            <td>6</td>
            <td>324.54</td>
            <td>15.5</td>
          </tr>
        </table>
        <div class="row justify-content-center">
         <div class="col-12">
          <div class="col-12 bg-ciyan p-2">
            <div class="text-center">
              your monthly EMI will be
            </div>
            <h3 class="text-center">&#8377; 4037.84</h3>
           </div>
         </div>
        </div>
        <div class="col-12 mt-5">
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-warning rounded rounded-0 px-5 py-2 text-dark">Cancel</button>
          <button class="btn btn-warning rounded rounded-0 px-5">Apply</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>